.pie-chart-container {
    width: 500px; /* Set the desired width */
    height: 500px; /* Set the desired height */
    margin: auto; /* Center the chart if needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }

body
{
    background: rgb(230, 230, 230);
}  